.navigation-clean {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:30px;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean .navbar-brand img {
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background:none;
}

.navigation-clean.navbar-inverse .navbar-toggle {
  border-color:#555;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
  color:white;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a {
  color:#465765;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color:white !important;
  background-color:transparent;
}

.navbar.navbar-default.navigation-clean {
  background-color:#A41E35;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  float:left;
}

